<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div id="sign-up">
       <form action="/register" method="POST">
           <input type="text" placeholder="Username" name="username" />
          <input type="email" placeholder="Enter Your Email" name="email" />
          <button type="button" id="sendOTP"> Send OTP</button>
          <input type="number" placeholder="Enter OTP" name="otp" />
          <input type="password" placeholder="Set Password" name="password" />
          <input type="password" placeholder="Confirm Password" name="confirmPassword" />
          <button> Singn Up</button>
       </form>
       <p id="msg"></p>
    </div>
</body>
<script src="/javaScripts/register.js"></script>
</html>